{% extends "layout1.html" %}
{% block nonuser %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="logins" class="container center_div zoomIn animated">
    <br>
    <br>
    <center><h2 class="display-3"><font color="white" style="font-family:DejaVu Sans Mono, monospace;">Login</font></h2>
         <hr style="border: 0.5px solid #ffffff">
    <br>
    <br>
    <form class="form-horizontal" action = "http://localhost:5000/login" method = "post">

    <div  class="form-group">
      <!-- <label class="control-label col-sm-2" for="eusn">Username:</label> -->
      <div class="col-sm-4">
        <input type="text" class="form-control" id="eusn" placeholder="Enter username" name="eusn" required>
      </div>
    </div>
    <div class="form-group">
      <!-- <label class="control-label col-sm-2" for="pwd">Password:</label> -->
      <div class="col-sm-4">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </div>
  </form>
<div class="gitt bounce animated">
      <div class="col-sm-offset-2 col-sm-10">
     <a href="https://github.com/SaberSz/WeByte">
                <span class="fa-stack fa-lg">
                 <h4><i class="fa fa-circle fa-stack-2x"></i></h4>
                  <h4><i class="fa fa-github fa-stack-1x fa-inverse"></i></h4>

                </span>
              </a>
</div>
</center>
 <center>
   <div class="col-sm-offset-10 col-sm-10">
<h4 style="DejaVu Sans Mono, monospace;"><font color="white">Wish to have a look at our source code?Don't worry we've got you covered.Follow us on Git.</font></h4>
</div>
 <center>

</div>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
<div class="alert alert-danger alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

      {% for message in messages %}
      <font style="font-family:DejaVu Sans Mono, monospace;"> {{ message }}</font>
      {% endfor %}

<!-- <a href="https://www.w3schools.com/bootstrap4/bootstrap_alerts.asp" class="alert-link">read this message</a> -->
</div>
 {% endif %}
{% endwith %}
{%  endblock nonuser %}
